# dependencies
/node_modules

*.log

# dist
/dist

# test
coverage
test-placeholder

# env
.env.test

# folders for development
mock
playground

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

