
# source code
src

# compiler
tsconfig.json
webpack.config.js

# files
*.log

# tests
test
test-placeholder
jest.config.js
setupJest.ts
coverage

# env 
.env.test

# folders for development
mock
playground

#  lint
.eslintrc.js
.prettierrc

# IDE - VSCode
.vscode
*.code-workspace

# git
.git